<!DOCTYPE html>
<html>
	<head>
		<title>BunGame</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    	<script src="https://kit.fontawesome.com/1ce788f167.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/headerApp.css">
        <script src="/headerApp.js"></script>
	</head>
	<body>
        <div class="row">
            <div class="col-md-2 side-nav sticky-top">
                <div class="div-bungame"><a class="link bungame" href="/"><i class="fab fa-d-and-d rm"></i> BunGame</a></div>
                <div class="div-home"><a class="link home" href="/home"><i class="fas fa-house-user rm"></i> Home</a></div>
                <div class="div-play"><a class="link play" href="/play"><i class="fas fa-pray rm"></i> Play</a></div>
            </div>
            <div class="col-md-10">
                <div class="row remove1 bungame-opened">
                    <div class="col-md-3 mar-l-0 bungame-check">
                        <div class="shade svelte-199tut6 open-nav sticky-top">
                            <a href="#" target="_self" class="link main-link">No alerts</a>
                        </div>
                    </div>
                </div>
                <div class="row remove1 home-opened">
                    <div class="col-md-3 mar-l-0 home-check">
                        <div class="shade svelte-199tut6 open-nav sticky-top">
                            <a href="/home" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link">Home
                            <span class="svelte-badge badge" data-badge="lesson_quota_refilled">★</span></a>
                            <a href="#" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link sprite"><i class="fas fa-envelope"></i><pre> </pre>messages</a>
                            <a href="#" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" class="link main-link articles"><i class="fas fa-star-half-alt"></i><pre> </pre>raiting</a>
                            <a href="#" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link"><i class="fas fa-id-card-alt"></i><pre> </pre>profile</a>
                            <a href="#" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link"><i class="fas fa-cog"></i><pre> </pre>settings</a>
                            <a href="#" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link"><i class="fas fa-sign-out-alt"></i><pre> </pre>logout</a>

                        </div>
                    </div>
                </div>
                <div class="row remove1 play-opened">
                    <div class="col-md-3 mar-l-0 play-check">
                        <div class="shade svelte-199tut6 open-nav sticky-top">
                            <a href="/play" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link">Play
                            <span class="svelte-badge badge" data-badge="lesson_quota_refilled">★</span></a>
                            <a href="/play/online" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link sprite analysis"><i class="fas fa-globe-americas"></i><pre> </pre>Play online</a>
                            <a href="/play/computer" onmouseover="mouseOverItem(this)" onmouseout="mouseOutItem(this)" target="_self" class="link main-link sprite analysis"><i class="fas fa-laptop"></i><pre> </pre>Computer</a>
                        </div>
                    </div>
                </div>
                <div class="back-time"></div>

