<%- include("../partials/header") %>
<h1>Do you want to play??? chose:</h1>
<a href="/play/online" class="btn btn-big btn-success">Play online</a>
<a href="/play/computer" class="btn btn-big btn-danger">Play computer</a>
<%- include("../partials/footer") %>